<%- include('includes/head') %>
<%- include('includes/nav') %>


    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center my-3">Login</h1>
          <p class="text-center lead">Crie sua conta ou faça login</p>

          <%- include('includes/messages') %>

          <div class="row">
            <div class="col-lg my-5">
              <h4>Faça seu Cadastro</h4>
              <p>Se você ainda não tem conta, preencha o formulário abaixo</p>
              <form class="form-cadastro" action="/login/register" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken%>>
                <div class="mb-3 form-group">
                  <label>Seu melhor email</label>
                  <input type="email" class="form-control" name="email"  >  
                </div>
                <div class="mb-3 form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control" name="password"  >  
                </div>
                <button type="submit" class="btn btn-primary">Criar Conta</button>
              </form>
            </div>
            
            <div class="col-lg my-5">
              <h4>Faça seu Login</h4/>
              <p>Já possui uma conta? Faça seu login e acesse sua agenda agora mesmo!</p>
              <form class="form-login" action="/login/login" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken%>>
                <div class="mb-3 form-group">
                  <label>Seu e-mail</label>
                  <input type="email" class="form-control" name="email"  >  
                </div>
                <div class="mb-3 form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control" name="password"  >  
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
          </div>
        
        <div class="col-lg-2"></div>
      </div>
    </div>
   

<%- include('includes/footer') %>